body {
    background-color: #F2F2F2;
    color: #444444;
}

#container {
    background-color: #FFF;
    /* drop shadow */
    box-shadow: 0 0 5px 3px #d9d9d9;
    margin: 78px auto;
    border-radius: 4px;
}

#header {
    background-color: #F9F9F9;
    height: 82px;
    position: relative;  
    border-radius: 4px 4px 0 0;
}

.site-width {
    max-width: 980px;
}

.gutter-lr {
    padding-left: 16px;
    padding-right: 16px;
}

#user-input.gutter-lr {
    padding-left: 0;
    padding-right: 0;
    margin-left: 16px;
    margin-right: 16px;
}

.left-side {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.right-side {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

.mobile-view {
    display: none;
}

.desktop-view {
    display: block;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;    
    background-size: contain;    
}

#header div .icon {
    margin-right: 12px;
}
    
#header div .icon:last-child {
    margin-right: 0;   
}

.icon-close {    
    background: url('../icons/Cross-Large.svg') no-repeat left;    
}

.icon-back {
    background: url('../icons/Chevron-Left-Large.svg') no-repeat left;
}

.icon-list {    
    background: url('../icons/To-Do-List.svg') no-repeat left;
}

.icon-work {
    background: url('../icons/Work.svg') no-repeat left;
}

.icon-tick {    
    background: url('../icons/Clear.svg') no-repeat left;
}

.icon-dots {
    background: url('../icons/Triple-Dot.svg') no-repeat left;
}

.action-items {
    border-left: 4px solid #ea9e09;
    padding-left: 2px;
    margin-bottom: 24px;
}

.icon-thin {
    display: block;
    /*width: 18px;*/
    /* height: 18px; */
    line-height: 18px;
    background-size: contain;
    padding-left: 34px;
}

.action-items .icon-thin a {
    color: #2f2e2e;
    text-decoration: underline;
}

.action-items .icon-thin a:hover {
    text-decoration: none;
}

.icon-thin-work {
    background: url('../icons/Work-Thin.svg') no-repeat left;    
}

.icon-thin-contact-organisation {
    background: url('../icons/Contact-Organization-Thin.svg') no-repeat left;
}

.icon-form {
    background: url('../icons/File-PDF.svg') no-repeat left 6px top 50%;
    /* height: 20px;
    line-height: 20px; */
    border: 1px solid #eee0ce;
    background-color: white;
    border-radius: 20px;    
    color: #444444;
    padding: 8px 12px 8px 40px;
    display: inline-block;
}

.message .icon-form a {
    text-decoration: none;
    color: #444444;
}

.message .icon-form a:hover {
    text-decoration: underline;
}

.icon-comment {
    background: url('../icons/File-PDF.svg') no-repeat left 6px top 50%;
    background-color: #F2F2F2;
    border-radius: 20px;    
    color: #2872d3;
    padding: 16px 16px 16px 40px;
    display: inline-block;
    font-weight: bold;
}

.icon-inline {
    
}

.icon-inline-work {
    background: url('../icons/Work-Thin.svg') no-repeat left 6px top 50%;
}

.icon-inline-list {
    background: url('../icons/To-Do-List-Thin.svg') no-repeat left 6px top 50%;
}

.icon-inline-flag {
    background: url('../icons/Flag-Thin.svg') no-repeat left 6px top 50%;
}

#message-body {
    
}

.message {
    margin-bottom: 4px;
    padding: 12px 16px; 
    border-radius: 16px;
    display: inline-block;
}

.message.icon-inline {
    padding-left: 40px;
}

.message-wrapper {
    display: block;    
}

.message a {
    color: #2872d3;    
    text-decoration: underline;
}

.message a:hover {
    text-decoration: none;   
}

.message a.link-person {
    text-decoration: none;
    background-color: #bfd7f5;
}

.message a.link-person:hover {
    text-decoration: underline;
}

#message-body .message-container:first-child {
    padding-top: 16px;    
}

#message-body .message-container:nth-child(2n) .message {
    background-color: #ebebeb;
}

#message-body .message-container:nth-child(2n+1) .message {
    background-color: #ddedff;
}

#message-body .message-container:first-child .message {
    background-color: #fdf6ed;
    border: 1px solid #eee0ce;
    padding: 24px;
    border-radius: unset;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 22px;
    color: #2b2b2b;
}

p {
    margin-bottom: 24px;
}

.status {    
    border: 1px solid #eee0ce;
    border-radius: 6px;
    background-color: white;
    color: #444444;
    padding: 10px 12px;
    display: inline-block;
    margin-bottom: 24px;
}

.name {
    color: black;
    font-weight: bold;    
}

.timestamp {
    color: grey;
    font-weight: normal;
    display: block;
}

.image-cropper {
    width: 36px;
    height: 36px;
    /*position: relative;*/
    overflow: hidden;
    border-radius: 50%;    
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
}

.profile-pic {
    display: inline;
    margin: 0 auto;
    /* margin-left: -25%; */ /* centers the image */
    height: 100%;
    width: auto;
}

.namebar {
    /* height: 36px;*/
    width: 100%;
    line-height: 36px;    
    margin-bottom: 8px;
}

.namebar .timestamp {
    display: inline;
}

.message-group {
    display: inline-block;
    width: 90%;
    margin-bottom: 16px;
}

#user-input {
    border-top: 1px solid #f2f2f2;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 0 0 4px 4px;
}

#user-input .image-cropper {
    vertical-align: middle;
}

/* MEDIA QUERIES */

/* Medium screen: Narrow desktop and tablet */
@media only screen and (max-width: 1024px) {
    #container {
        margin-top: 0;
        margin-bottom: 0;
    }    
    
    #container, #header, #user-input {
        border-radius: 0;
    }
}

/* Small screen: Mobile - 600px wide and less */
@media only screen and (max-width: 600px) {
    #container {
        margin: 0;
        
    }   
    
    #header {
        height: 72px;
        position: sticky;
        top: 0;
    }
    
    .site-width {
        width: 100%;
    }
      
    .mobile-view {
        display: block;
    }

    .desktop-view {
        display: none;
    }

    .gutter-lr {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .left-side {
        left: 8px;
    }
    
    .right-side {
        right: 8px;
    }
    
    .message-group {
        width: 80%;
    }
    
    #message-body .message-container:first-child {
        border-bottom: 1px solid #eee0ce;
        background-color: #fdf6ed;
        margin-bottom: 16px;
    }
    
    #message-body .message-container:first-child .message {
        border: none;
        background-color: none;
        padding: 0;
    }
    
    .icon-inline {
        display: block;
    }
}