body {
    background-color: #F2F2F2;
}

#container {
    border: 1px solid grey;
    border-radius: 3px;
    background-color: #FFF;
    /* drop shadow */
    box-shadow: 0 0 5px 3px #d9d9d9;
    margin: 78px auto;
}

#header {
    background-color: #F9F9F9;
    height: 82px;
    position: relative;
}

.site-width {
    max-width: 980px;
}

.padding-lr {
    padding: 0 16px;
}

.left-side {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.right-side {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

.mobile-view {
    display: none;
}

.desktop-view {
    display: block;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;    
    background-size: contain;    
}

#header div .icon {
    margin-right: 12px;
}
    
#header div .icon:last-child {
    margin-right: 0;   
}

.icon-close {    
    background: url('../icons/Cross-Large.svg') no-repeat left;    
}

.icon-back {
    background: url('../icons/Chevron-Left-Large.svg') no-repeat left;
}

.icon-list {    
    background: url('../icons/To-Do-List.svg') no-repeat left;
}

.icon-work {
    background: url('../icons/Work.svg') no-repeat left;
}

.icon-tick {    
    background: url('../icons/Clear.svg') no-repeat left;
}

.icon-dots {
    background: url('../icons/Triple-Dot.svg') no-repeat left;
}



/* MEDIA QUERIES */

/* Medium screen: Narrow desktop and tablet */
@media only screen and (max-width: 1024px) {
    #container {
        margin-top: 0;
        margin-bottom: 0;
    }    
}

/* Small screen: Mobile - 600px wide and less */
@media only screen and (max-width: 600px) {
    #container {
        margin: 0;
    }   
    
    .site-width {
        width: 100%;
    }
    
    #header {
        height: 72px;
        position: sticky;
        top: 0;
    }
        
    .mobile-view {
        display: block;
    }

    .desktop-view {
        display: none;
    }

    .padding-lr {
        padding: 0 8px;
    }
    
    .left-side {
        left: 8px;
    }
    
    .right-side {
        right: 8px;
    }
}